table {
	border-collapse: collapse;
	width: 75%;
	margin: 10px;
}

table, th, td {
	border: 1px solid black;
}

th, td, a {
	margin: 10px;
}

ul {
	list-style-type: none;
}

h2 {
	font-size: 20px;
	padding: 10px;
}

a:link {
	text-decoration: underline;
}

input {
	width: 360px;
}

p {
	margin-left: 10px;
}

.gray {
	background-color: #d3d3d3;
}

.border_bottom {
	border-bottom: 1px solid gray;
}

.books, .books th, .books td {
	border: none;
}

.btn {
	margin: 2px 10px;
}

.center {
	text-align: center;
}