<p>Don't see one of your favorite authors? <a class="btn btn-primary" [routerLink]="['new']">Add an author</a></p>
<div *ngIf="authors">
	<p><input type="text" placeholder='Filter authors by name or country. Enter text here!' [(ngModel)]="searchText"></p>
	<table>
		<thead class="gray">
			<tr>
				<th>Author</th>
				<th>Lifespan</th>
				<th>Country</th>
				<th>Books</th>
				<th>Actions Available</th>
			</tr>
		</thead>
		<tbody *ngFor="let author of authors | filter:searchText; let idx=index">
			<tr [ngClass]="{ 'gray': idx%2 !=0 }">
				<td>{{ author.first_name }} {{ author.last_name }}</td>
				<td>{{ author.birthyear }} - {{ author.deathyear }}</td>
				<td>{{ author.country }}</td>
				<td>
					<table *ngIf="author.books.length; else elseBlock" class="books">
						<thead>
							<tr>
								<th class="bottom_border">Title</th>
								<th class="bottom_border">Year</th>
								<th class="center bottom_border">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let book of author.books; let book_idx=index" [ngClass]="{ 'border_bottom' : book_idx<author.books.length-1 }">
								<td>{{ book.title }}</td>
								<td>{{ book.year }}</td>
								<td>
									<ul>
										<li><a class="btn btn-primary btn-sm" [routerLink]="['book/edit', author._id, book_idx]">Edit Book</a></li>
										<li><button class="btn btn-danger btn-sm" (click)="onDelete($event, author._id, book_idx)">Delete Book</button></li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
					<ng-template #elseBlock>No books have been added for this author.</ng-template>
				</td>
				<td>
					<ul>
						<li><a class="btn btn-primary" [routerLink]="['edit', author._id]">Edit Author</a></li>
						<li><a class="btn btn-primary" [routerLink]="['book/new', author._id]">Add Book</a></li>
						<li><button class="btn btn-danger" (click)="onDelete($event, author._id)">Delete Author</button></li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>